{% extends "base.html" %}
{% block navbar %}
  {% if user_profile %}
  	{{ block.super }}
  {% else %}
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><h1>Social-A-Media</h1></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-2">
            <li class="nav-item">
              <a class="nav-link" href="/signup">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signin">Sign In</a>
            </li>
          </ul>
          <form action="{% url 'search' %}" class="d-flex">
        	<input class="form-control me-2" name="search_term" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  {% endif %}
{% endblock navbar %}
{% block content %}
  {% if requested_user_profile %}
    <div class="outer-section">
    <div class="content-box pb-1">
      <div class="mt-5">
      <img class="mt-5 profile-img" src="{{ requested_user_profile.profile_img.url }}" alt="Profile Picture">
      </div>
      <h4 class="mb-4 mt-3">@{{ requested_user_profile.user.username }}</h4>
      <div class="profile-text">
      <p>{{ requested_user_profile.bio }}</p>
      <i class="fa-solid fa-location-dot"></i> <span>{{ requested_user_profile.location }}</span>
      </div>
      <div>
        <a class="btn btn-primary px-5 mb-4 mt-4" href="/chat/{{ requested_user_profile.user.username }}">Message</a>
      </div>
    </div>
    </div>
  {% else %}
    <div style="text-align: center;" class="mt-5">
      <h2>No users found with username: "{{ username }}"</h2>
      <img height="350rem" src="https://img.freepik.com/free-vector/no-data-concept-illustration_114360-536.jpg?w=740&t=st=1673227533~exp=1673228133~hmac=ae0fde15da2e83f62733ed2a1a1ae891c2eef168c7e55d20ee62d638206f121f" alt="No users found">
    </div>
  {% endif %}
{% endblock content %}